<mat-card>
  <mat-card-header>
    <mat-form-field>
      <input matInput (keyup)="FilterChange($event)" placeholder="Enter the text">
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-left: 60%;" (click)="addEmployee()"><mat-icon>person_add</mat-icon>Add Employee</button>
  </mat-card-header>

  <mat-card-content>
    <table matSort mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let element">{{element.department}}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let element">{{element.age}}</td>
      </ng-container>

      <ng-container matColumnDef="workDays">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Work Days</th>
        <td mat-cell *matCellDef="let element">{{element.workDays}}</td>
      </ng-container>

      <ng-container matColumnDef="salaryPerDay">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Salary per Day</th>
        <td mat-cell *matCellDef="let element">₹ {{element.salaryPerDay}}</td>
      </ng-container>

      <ng-container matColumnDef="salaryPerMonth">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Salary per Month</th>
        <td mat-cell *matCellDef="let element">₹ {{element.salaryPerMonth}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">{{element.action}}

          <button mat-raised-button color="primary" (click)="editEmployee(element.id)"><mat-icon>edit</mat-icon>Edit</button>
          <button mat-raised-button color="warn" (click)="deleteEmployee(element.id)"><mat-icon>delete</mat-icon>Delete</button>
          <button mat-raised-button color="primary" (click)="employeeDetails(element.id)"><mat-icon>info</mat-icon>Details</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>

    </table>

  </mat-card-content>

  <br>

  <mat-card-footer>

    <mat-paginator [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>

  </mat-card-footer>
</mat-card>


<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
      <small class="d-block mb-3 text-body-secondary">© 2017–2023</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Business</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Education</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Government</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Team</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
  </footer>


