<div class="row">
  <div class="col-lg-6">
    <h2>Bar Chart</h2>
    <canvas id="barChart"></canvas>
  </div>

  <div class="col-lg-6">
    <h2>Pie Chart</h2>
    <canvas id="pieChart"></canvas>
  </div>

  <div class="col-lg-6">
    <h2>Doughnut Chart</h2>
    <canvas id="doughnutChart"></canvas>
  </div>

  <div class="col-lg-6">
    <h2>Polar Chart</h2>
    <canvas id="polarChart"></canvas>
  </div>

  <div class="col-lg-6">
    <h2>Radar Chart</h2>
    <canvas id="radarChart"></canvas>
  </div>

</div>
